<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <!---Import styles-->
        <link rel="stylesheet" href="./CSS/styles.css"/>
        
        <!--Import quick leave css-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
        
        <!--Import vue-->
        <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
        <!--Import axios-->
        <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="#home">Self care-And share: Lager</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
        <div id="app">
            <button class="btn" @click="getAllShelf">Load shelves</button>
            <table class="Dashboard">  
                <thead>
                    <tr>
                        <th>Hylde nummer</th>
                        <th>Lager status</th>
                        <th>Pakke typpe</th>
                        <th>M.A.C</th>
                        <th>Actions</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="shelf in showShelfList">
                        <td>{{shelf.id}}</td>
                        <td v-if="shelf.isStocked" style="color:green"><b>Fyldt</b></td>
                        <td v-else="shelf.isStocked" style="color:red;background-color: rgb(245, 169, 169);"><em><b>Lav beholdning</b></em></td>
                        <td>{{shelf.packageTypeName}}</td>
                        <td>{{shelf.mac}}</td>
                        <td>
                            <button class="btn" id="delete" @click="deleteShelf(shelf.mac)">Delete</button>
                            <button id="update" class="btn" @click="addPT">Update packagetype </button> <br>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>

            <div class="float-container">
                <div class="float-child">
                    <h1>Package types</h1>
                    <button id="add" class="btn" @click="addPT">Add </button> <br><br>
                    <button class="btn" @click="getAllPT">Load shelves</button>
                    <table class="DashboardPT">  
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="pt in showPTList">
                                <td>{{pt.name}}</td>
                                <td>{{pt.description}}</td>
                                <td>
                                    <button class="btn" id="delete" @click="deleteShelf(shelf.mac)">Delete</button> <br>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div id="map">

                </div>
            </div>

        </div>
        <!--Import app-->
        <script src="Js/main.js"></script>
        
        <!--Mount app-->
        <script>
            const mountedApp = app.mount('#app')
        </script>

        <!--Importer map.js-->
        <script src="JS/map.js"></script>
        
    </body>
</html>